.Rproj.user
.Rhistory
.RData
.Ruserdata
001-initial-slim-explorations.html
Jared-03-28-2024.html
results
.DS_Store
__pycache__
default.profraw
003-example-use-of-MixedUpSlimSims-package.html
/*.vcf
/*.trees
